streamlit==1.57.0
langchain==1.2.15
langchain-community==0.4.1
langchain-core==1.3.2
langchain-openai==1.2.1
langchain-groq
langchain-text-splitters==1.1.2
langchain-pinecone==0.2.13
openai==2.34.0
pinecone==7.3.0
python-dotenv==1.2.2
pypdf==6.10.2
